/*----------------------  Mobile First------------------*/

.header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-sizing: border-box;
}
a{
    text-decoration-line:none ;
    color: black;
}
.texto-mashup{
    font-family: 'Rancho', cursive;
    display: inline;
    font-size: xx-large;
}
.texto-mashup a{
    color: white;
    text-decoration-line:none ;
}


#logo{
    width: 50px;
    margin-left: 5px;
}
.main-nav2{
    text-align: center;
}
.main-nav ul li {

    list-style-type: none;
    padding:10px;
    color: black;
    
}
.main-nav ul{
    display:flex;

}
.main-nav{
    display:none;
}
.texto-inicio{
    background-color: white;
}

/*---------------------------------------------------------------------*/
/*-------------------------Body----------------------------*/
body{
    background-color: #000a12;
}
/*---------------------------------------------------------------------*/
/*----------------------  Botones Header ------------------*/
.boton-generos{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-playlist{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-home{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-about{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}

.texto-inicio{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    
}
.boton-about:hover{
    background-color: grey;
}
.boton-home:hover{
    background-color: darkcyan;  
}
.boton-playlist:hover{
    background-color: darkmagenta;
}
.boton-generos:hover{
    background-color: yellow;
}
.boton-home:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-playlist:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-generos:hover a{
    color: black;
    text-decoration-line:none ;
}
.boton-about:hover a{
    color: white;
    text-decoration-line:none ;
}
/*---------------------------------------------------------------------*/
/*-------------------------Nuevo Header-------------------------*/
#logo{
    display: none;
}

.main-nav2{
    display: none;
}

.logo{
    width: 20px;
}
.centrar-objetos{
    display: flex;
    flex-direction: column;
}
.texto-mashup{
    display: none;
}
/*-------------------------Nuevo Header Celu-------------------------*/
.logo-titulo{
    text-decoration-line:underline ;
}
.contenedor-header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
   
    border-radius: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}
.logo-titulo{
    align-items: center;
    justify-content: center;
}

.logo{
    width: 40px;
    height: 40px;
}

.boton-principal2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none;
}
.boton-principal2:hover{
    text-decoration-line:none;
    color: white;
}
.boton-explorar2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-explorar2:hover{
    color: white;
}
.boton-playlist2{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: grey;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-playlist2:hover{
    color: white;
}
.boton-about2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-about2:hover{
    color: white;
}

.centrar-objetos{
    display: flex;   
    

    
}

/*-------------------------------HEADER INTENTO-----------------------*/
    
    
.titulo-header{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: white;
    }
   
    .logo-titulo{
        display: inline-flex;
    }
    /*---------------------------------------------------------------------*/

/*------------------------Detalle Cancion Celu----------------------*/

.fila1{
    display:flex ;
    flex-direction: column;   
    color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    
}
.columna1 img{
    border-radius: 15px;
    width: 100%;
    margin-top:20px ;
}
.columna2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.texto-gris{
    color: rgb(179, 167, 167);
    font-size: small;
    
}
.texto-a{
 color: gray;  

}
.texto-a:hover{
    text-decoration-line:underline ;
    color: white;

}
.acciones{
    margin-left: -40px;
    text-align: center;
}
.mix{
    padding: 10px;
    list-style-type: none ;
    border: white 2px ;
    
}
.añadir{

    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none ;
}

.fila2{
    font-family: 'Raleway', sans-serif;
    
    color: white;
    border-radius: 15px;
    
    text-align: center;
}

.fila3{
    
    color: white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;

}
.contenedor-imagen img{
    width: 100%;
}
.contendor-imagen a{
    border-radius: 15px;
    background-color: white;
    color:black;
    width: 100%;
    
}
.texto-album{
    font-family: 'Raleway', sans-serif;
    color: rgb(180, 180, 180);
   
}
.texto-album:hover{
    text-decoration-line:underline ;
}
.texto-canciones{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.imagen-d-none{
    display: none;
}
.links{
    display: flex;
    flex-direction: column;
}
/*---------------------------------------------------------------------*/
/*----------------------------------Playlist Celu------------------------*/

.playlist {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #2c2c2c;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 10px;
} 
.song {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    border-style: solid; 
    border-color: rgb(56, 54, 54);
    border-width: thin;

}
.audios{
    width:100%;

}
.d-none{
    display: none;
}
.song:hover{
    background-color: rgba(128, 128, 128, 0.664);
    color: greenyellow;

}
.song-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-around;
    border-style: solid; 
    border-color:rgb(56, 54, 54);
    border-width: thin;
}

.songArtista{
    display: flex;
    align-items: center;
    text-decoration-line:none ;
    color: white;
    text-align: center;
    padding-left: 5px;
    text-transform: uppercase;
}

/*----------------------------------Footer------------------------*/
.footer ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: white;
    flex-direction: row;
    justify-content:flex-end;
    font-family: 'Raleway', sans-serif;
}
#logo-deezer{
    width: 20%;
    height: 60%;
    display: inline-block;
    margin-left: 10px;
}
.footer{
    display:flex;
    flex-direction: row;
    background-color: black;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0;

}

/*---------------------------------------------------------------------*/

/*----------------------------------Computadora------------------------*/

@media(min-width:768px){
    
.header{
    display: flex;
    flex-direction: row;
}
.main-nav ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: black;
    flex-direction: row;
    justify-content:flex-end;
}
.main-nav{
    display: block;
}
.main-nav2{
    display: none;
}
.ul-margin{
    margin-top: none;
}


.texto-inicio{
    display:inline-flex;
    justify-content: flex-end;
}

/*---------------------------------------------------------------------*/
/*-----------------Header-toggle---------------------------------*/
.toggle-menu{
    display: none;
}
#logo{
    display: none;
}
.texto-mashup{
    display: none;
}
/*---------------------------------------------------------------------*/
/*-------------------------Nuevo Header-------------------------*/
.titulo-none{
    display: none;
}
.contenedor-header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
   
    border-radius: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 40px;
    height: 40px;
}

.boton-principal2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none;
}
.boton-principal2:hover{
    text-decoration-line:none;
    color: white;
}
.boton-explorar2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-explorar2:hover{
    color: white;
}
.boton-playlist2{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: grey;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-playlist2:hover{
    color: white;
}
.boton-about2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-about2:hover{
    color: white;
}

.centrar-objetos{
    display: flex;   
    flex-direction:row ;    

    
}

/*-------------------------------HEADER INTENTO-----------------------*/
    
    
.titulo-header{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: white;
    }
   
    .logo-titulo{
        display: inline-flex;
    }
    /*---------------------------------------------------------------------*/
    /*------------------------Contenedor Total--------------------------------*/
.contenedor{
    margin-right: 90px;
    margin-left: 90px;
}
/*---------------------------------------------------------------------*/
/*------------------------Detalle Cancion Compu----------------------*/

.fila1{
    display: flex;
    flex-direction: row;
}
.columna1 img{
    width:20em;
}
.columna2{
    padding-left:20px;
    text-align: left;
}
.columna2 h2{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.acciones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: -40px;
}
.añadir:hover{
    opacity: 60%;
}
.fila2{
    text-align: center;
}
.fila3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.contenedor-imagen{
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    color: black;
}
.contenedor-imagen img{
    width: 100%;
}
.imagen-d-none{
    display: block;
}
.contenedor-imagen img:hover{
    opacity: 50%;
}
/*---------------------------------------------------------------------*/
/*----------------------------Playlist COmpu---------------------------*/
.song{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.song-info{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
}
.d-none{
    display: block;
    padding-left: 50px;
    
}
.audios{
    padding-left: 10px;
}
.songArtista{
    display: flex;
    align-items: center;
    text-decoration-line:none ;
    color: white;
    text-align: center;
    padding-left: 50px;
}
.songArtista:hover{
    text-decoration-line:underline;
    color: greenyellow;
}
/*---------------------------------------------------------------------*/
    /*---------------------------------Footer--------------------------*/
#logo-deezer{
    width:10%;
    height:20%;
}
/*---------------------------------------------------------------------*/
}