/*----------------------  Mobile First------------------*/

.header{
    background-color:white;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration-line:none ;
    color: black;
}

h1{
    font-family: 'Rancho', cursive;
    color:black;
    display: inline;
    margin-left: 8px;
    font-size: xx-large;
    
}
#logo{
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.main-nav ul li {
    display: none;
    list-style-type: none;
    padding:10px;
    color: black;
}

/*---------------------------------------------------------------------*/


/*----------------------  Botones Header ------------------*/
.boton-generos{
    border: black 4px inset;
    border-radius: 5px 5px 10px 10px;
}
.boton-playlist{
    border: black 4px inset;
    border-radius: 5px 5px 10px 10px;
}
.boton-home{
    border: black 4px inset;
    border-radius: 5px 5px 10px 10px;
}
.texto-inicio{
    border: black 4px inset;
    border-radius: 5px 5px 10px 10px;
    
}
.boton-home:hover{
    background-color: darkcyan;  
}
.boton-playlist:hover{
    background-color: darkmagenta;
}
.boton-generos:hover{
    background-color: yellow;
}
.boton-home:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-playlist:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-generos:hover a{
    color: black;

    text-decoration-line:none ;
}
/*---------------------------------------------------------------------*/

/*----------------------  La imagen de fondo ------------------*/
.container-background{width: 100%;
}
.background{
    position: relative;
    width: 107%;
    z-index: 1;
}

.texto-fondo{
    position: absolute;
    z-index: 2;
    top: 5em;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: white;
    left: 0;
    right: 0;
    text-align: left;
    left: 40px;
    margin-top: 65px;
    margin-left: 6px;
    font-size: 43px;
}


/*---------------------------------------------------------------------*/

 /*-----------------------------Artista detalle----------------------------*/
.columna-doble{
    display: grid;
    grid-template-columns: 1fr 1fr;

}


 .imagen-artista{
    background-image: url(../imagenes/Drake.jpg);
    background-repeat: no-repeat;
    width: 100%;
}
.que-album{
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
}
.algo-algo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
ul{list-style-type: none;}
.album-2{display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
.album-1{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}
/*---------------------------------------------------------------------*/



/*----------------------------------Footer------------------------*/
.footer ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: white;
    flex-direction: row;
    justify-content:flex-end;
}
#logo-deezer{
    width: 20%;
    display: inline-block;
    margin-left: 10px;
}
.footer{
    display:flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    position: absolute;
}

/*---------------------------------------------------------------------*/




/*----------------------------------Computadora------------------------*/

@media(min-width:768px){
    
.main-nav ul li {
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: black;
    flex-direction: row;
    justify-content:flex-end;
}
.texto-inicio{
    display:inline-flex;
    justify-content: flex-end;
}


}