
/*----------------------  Mobile First------------------*/

.header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-sizing: border-box;
}
a{
    text-decoration-line:none ;
    color: black;
}
.texto-mashup{
    font-family: 'Rancho', cursive;
    display: inline;
    font-size: xx-large;
}
.texto-mashup a{
    color: white;
    text-decoration-line:none ;
}


#logo{
    width: 50px;
    margin-left: 5px;
}
.main-nav2{
    text-align: center;
}
.main-nav ul li {

    list-style-type: none;
    padding:10px;
    color: black;
    
}
.main-nav ul{
    display:flex;

}
.main-nav{
    display:none;
}
.texto-inicio{
    background-color: white;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*-------------------------Body----------------------------*/
body{
    background-color: #000a12;
}
/*---------------------------------------------------------------------*/

/*----------------------  Botones Header ------------------*/
.boton-generos{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-playlist{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-home{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-about{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}

.texto-inicio{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    
}
.boton-about:hover{
    background-color: grey;
}
.boton-home:hover{
    background-color: darkcyan;  
}
.boton-playlist:hover{
    background-color: darkmagenta;
}
.boton-generos:hover{
    background-color: yellow;
}
.boton-home:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-playlist:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-generos:hover a{
    color: black;
    text-decoration-line:none ;
}
.boton-about:hover a{
    color: white;
    text-decoration-line:none ;
}
/*---------------------------------------------------------------------*/
/*-------------------------Nuevo Header-------------------------*/
#logo{
    display: none;
}

.main-nav2{
    display: none;
}

.logo{
    width: 20px;
}
.centrar-objetos{
    display: flex;
    flex-direction: column;
}
.texto-mashup{
    display: none;
}
/*-------------------------Nuevo Header Celu-------------------------*/
.logo-titulo{
    text-decoration-line:underline ;
}
.contenedor-header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
   
    border-radius: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}
.logo-titulo{
    align-items: center;
    justify-content: center;
}

.logo{
    width: 40px;
    height: 40px;
}

.boton-principal2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none;
}
.boton-principal2:hover{
    text-decoration-line:none;
    color: white;
}
.boton-explorar2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-explorar2:hover{
    color: white;
}
.boton-playlist2{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: grey;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-playlist2:hover{
    color: white;
}
.boton-about2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-about2:hover{
    color: white;
}

.centrar-objetos{
    display: flex;   
    

    
}

/*-------------------------------HEADER INTENTO-----------------------*/
    
    
.titulo-header{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: white;
    }
   
    .logo-titulo{
        display: inline-flex;
    }
    /*---------------------------------------------------------------------*/
/*----------------------------------Album celu-----------------------*/
.album-data{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    
}

.imagen-album img{
    width: 100%;
    padding: 8px;
    border-radius: 15px;
}
.imagen-album{
    display: flex;
    justify-content: center;
}
.texto-album{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.texto-album a{
    color: white;

}
.texto-album a:hover{
    text-decoration-line:underline ;
}
/*----------------------------------Playlist------------------------*/

.playlist {
    display: grid;
    grid-template-columns: 1fr;
    
    background-color: black;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 10px;

} 
.song {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    border-top: solid; 
    border-color: rgb(56, 54, 54);
    border-width: thin;

}
.song:hover{
    background-color: gray;
    color: #aeea00;

}
.song-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-around;
    border-top: solid; 
    border-color:rgb(56, 54, 54);
    border-width: thin;
}
.texto-secciones{
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    
}

.textos2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    display: flex;
    align-self: flex-start;
    font-size: small;
}
.acciones{
    margin-left: -40px;
    text-align: center;

}
.mix{
    padding: 10px;
    list-style-type: none ;
    border: white 2px ;
    
}
.añadir{
    text-align: center;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none ;
    
}
.añadir:hover{
    opacity: 60%;
}
/*----------------------------------Footer------------------------*/
.footer ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: white;
    flex-direction: row;
    justify-content:flex-end;
}
#logo-deezer{
    width: 20%;
    height: 60%;
    display: inline-block;
    margin-left: 10px;
}
.footer{
    display:flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*---------------------------------------------------------------------*/
/*----------------------------------Computadora------------------------*/

@media(min-width:768px){
    
    .header{
        display: flex;
        flex-direction: row;
    }
    .main-nav ul li{
        display:inline-flex ;
        list-style-type: none;
        padding:6px;
        color: black;
        flex-direction: row;
        justify-content:flex-end;
    }
    .main-nav{
        display: block;
    }
    .main-nav2{
        display: none;
    }
    .ul-margin{
        margin-top: none;
    }
    
    .texto-inicio{
        display:inline-flex;
        justify-content: flex-end;
    }
    .texto-secciones{

        color: white;
        text-align: left;
        font-size: x-large;
        
    }
    /*---------------------------------------------------------------------*/
    /*-----------------Header-toggle---------------------------------*/
.toggle-menu{
    display: none;
}
/*---------------------------------------------------------------------*/
/*-------------------------Nuevo Header-------------------------*/
.titulo-none{
    display: none;
}
.contenedor-header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
   
    border-radius: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 40px;
    height: 40px;
}

.boton-principal2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none;
}
.boton-principal2:hover{
    text-decoration-line:none;
    color: white;
}
.boton-explorar2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-explorar2:hover{
    color: white;
}
.boton-playlist2{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: grey;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-playlist2:hover{
    color: white;
}
.boton-about2{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    padding: 10px;
    text-decoration-line:none ;
}
.boton-about2:hover{
    color: white;
}

.centrar-objetos{
    display: flex;   
    flex-direction:row ;    

    
}

/*-------------------------------HEADER INTENTO-----------------------*/
    
    
.titulo-header{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: white;
    }
   
    .logo-titulo{
        display: inline-flex;
    }
    /*---------------------------------------------------------------------*/
    /*----------------------------------Album------------------------*/
    .album-data{
        display: grid;
        grid-template-columns: 15% 85%;
        text-align: left;
        margin-right: 90px;
        margin-left: 90px;
        margin-top: 30px;
    }
    .texto-album{
    padding: 20px;
    }
    .playlist{
        margin-right: 90px;
        margin-left: 90px;
    }
    .acciones{
        display: flex;

    }
    .mix{
        text-align: left;
    }
    .añadir{
        text-align: left;
        width: fit-content;
    }
    /*---------------------------------Footer--------------------------*/
#logo-deezer{
    width:10%;
    height:20%;
    }
/*---------------------------------------------------------------------*/
}
