
/*----------------------  Mobile First------------------*/

.header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration-line:none ;
    color: black;
}
.texto-mashup{
    font-family: 'Rancho', cursive;
    display: inline;
    font-size: xx-large;
}
.texto-mashup a{
    color: white;
    text-decoration-line:none ;
}
.texto-botones{
    font-family: 'Roboto', sans-serif;
}

#logo{
    width: 50px;
    margin-left: 5px;
}

.main-nav ul li {
    display: none;
    list-style-type: none;
    padding:10px;
    color: black;
    
}
.main-nav{
    display: none;
}
.texto-inicio{
    background-color: white;
}
/*---------------------------------------------------------------------*/
/*-------------------------Body----------------------------*/
body{
    background-color: #000a12;
}
/*---------------------------------------------------------------------*/

/*----------------------  Botones Header ------------------*/
.boton-generos{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-playlist{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-home{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-about{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}

.texto-inicio{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    
}
.boton-about:hover{
    background-color: grey;
}
.boton-home:hover{
    background-color: darkcyan;  
}
.boton-playlist:hover{
    background-color: darkmagenta;
}
.boton-generos:hover{
    background-color: yellow;
}
.boton-home:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-playlist:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-generos:hover a{
    color: black;
    text-decoration-line:none ;
}
.boton-about:hover a{
    color: white;
    text-decoration-line:none ;
}
/*---------------------------------------------------------------------*/
/*----------------------------------Album celu-----------------------*/
.album-data{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.imagen-album img{
    width: 100%;
    padding: 10px;
    
}
.texto-album{
    font-family: 'Raleway', sans-serif;
}

/*----------------------------------Playlist------------------------*/

.playlist {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: black;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
} 
.song {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    border-style: solid; 
    border-color: rgb(56, 54, 54);
    border-width: thin;

}
.song:hover{
    background-color: gray;
    color: #aeea00;

}
.song-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-around;
    border-style: solid; 
    border-color:rgb(56, 54, 54);
    border-width: thin;
}

/*----------------------------------Footer------------------------*/
.footer ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: white;
    flex-direction: row;
    justify-content:flex-end;
}
#logo-deezer{
    width: 20%;
    height: 60%;
    display: inline-block;
    margin-left: 10px;
}
.footer{
    display:flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*---------------------------------------------------------------------*/
/*----------------------------------Computadora------------------------*/

@media(min-width:768px){
    
    .main-nav ul li{
        display:inline-flex ;
        list-style-type: none;
        padding:6px;
        color: black;
        flex-direction: row;
        justify-content:flex-end;
    }
    .main-nav{
        display: block;
    }
    .texto-inicio{
        display:inline-flex;
        justify-content: flex-end;
    }
    /*---------------------------------------------------------------------*/
    /*----------------------------------Album------------------------*/
    .album-data{
        display: grid;
        grid-template-columns: 15% 85%;
        text-align: left;
    }
    .texto-album{
    padding: 20px;
}
    /*---------------------------------Footer--------------------------*/
#logo-deezer{
    width:10%;
    height:20%;
    }
/*---------------------------------------------------------------------*/
}
