
/*----------------------  Mobile First------------------*/

.header{
    background-color:#263238;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
a{
    text-decoration-line:none ;
    color: black;
}

h1 {
    font-family: 'Rancho', cursive;
    color:white;
    display: inline;
    margin-left: 8px;
    font-size: xx-large;
    
}
h1 a{
    color: white;
}
#logo{
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.main-nav ul li {
    display: none;
    list-style-type: none;
    padding:10px;
    color: black;
    
}
.main-nav{
    display: none;
}
.texto-inicio{
    background-color: white;
}
/*---------------------------------------------------------------------*/
/*-------------------------Body----------------------------*/
body{
    background-color: #000a12;
}
/*---------------------------------------------------------------------*/
/*----------------------  Botones Header ------------------*/
.boton-generos{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-playlist{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-home{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}
.boton-about{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    background-color: white;
}

.texto-inicio{
    border: white 4px inset;
    border-radius: 5px 5px 10px 10px;
    
}
.boton-about:hover{
    background-color: grey;
}
.boton-home:hover{
    background-color: darkcyan;  
}
.boton-playlist:hover{
    background-color: darkmagenta;
}
.boton-generos:hover{
    background-color: yellow;
}
.boton-home:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-playlist:hover a{
    color: white;
    text-decoration-line:none ;
}
.boton-generos:hover a{
    color: black;
    text-decoration-line:none ;
}
.boton-about:hover a{
    color: white;
    text-decoration-line:none ;
}
/*---------------------------------------------------------------------*/

 /*----------------------  La imagen de fondo ------------------*/

.container-background{ 
    display: none; 
    width: 100%;
}
.background{
    position: relative;
    width: 107%;
    z-index: 1;
}
.texto-fondo1{
    position: absolute;
    z-index: 2;
    top: 5em;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
}
.texto-fondo2{
    position: absolute;
    z-index: 2;
    top: 7em;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
}
.playlist-button{
    position: absolute;
    z-index: 2;
}


/*---------------------------------------------------------------------*/

/*----------------------------------Secciones Celu------------------------*/
.seccion{
    display: grid;
    grid-template-columns: 1fr ;
}
.texto-secciones{
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}
.textos{
    font-family: 'Raleway', sans-serif;
    color: black;
}


/*---------------------------------------------------------------------*/
/*----------------------------------Carousel------------------------*/
.texto-carousel{
    position: absolute;
    top:8% ;
}
/*---------------------------------------------------------------------*/
/*----------------------------------Top Canciones Celu------------------------*/
.container-tracks{
    
    margin: 20px;
    border-radius: 15px;
}
.container1{
    background-color: teal;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    
}
.container1 a:hover{
    text-decoration: none;
    color: grey;
}
.container1 img:hover{
    opacity: 50%;
}
.imagen-perreo-sola{
    width:100%;
}
.imagen-travesuras{
    width: 100%;
}
/*---------------------------------------------------------------------*/

/*----------------------------------Top Artistas Celu------------------------*/
.container-artistas{
    
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.container2{
    background-color: turquoise;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
}
.container2 a:hover{
    text-decoration: none;
    color: grey;
}
.container2 img:hover{
    opacity: 50%;
}
.imagen-drake{
    width: 100%;
}
/*---------------------------------------------------------------------*/

/*----------------------------------Top Album Celu------------------------*/
.container-album{
  
    margin: 20px;
    border-radius: 15px;
}
.container3{
    background-color: white;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
}
.container3 a:hover{
    text-decoration: none;
    color: grey;
}
.container3 img:hover{
    opacity: 50%;
}
.imagen-colores{
    width: 100%;
}
/*---------------------------------------------------------------------*/




/*----------------------------------Footer------------------------*/
.footer ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: white;
    flex-direction: row;
    justify-content:flex-end;
}
#logo-deezer{
    width: 20%;
    height: 60%;
    display: inline-block;
    margin-left: 10px;
}
.footer{
    display:flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*---------------------------------------------------------------------*/




/*----------------------------------Computadora------------------------*/

@media(min-width:768px){
    
.main-nav ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: black;
    flex-direction: row;
    justify-content:flex-end;
}
.main-nav{
    display: block;
}

.background{
  width: 101%;
}
.texto-fondo1{
    position: absolute;
    z-index: 2;
    
    top: 5em;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
.texto-fondo2{
    position: absolute;
    z-index: 2;
    top: 9em;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
.texto-inicio{
    display:inline-flex;
    justify-content: flex-end;
}
/*---------------------------------------------------------------------*/
/*---------------------------Carrusel---------------------------------*/
.texto-carousel h5{
    font-size: xx-large;
}
.texto-carousel p{
    font-size: x-large;
}
/*---------------------------------------------------------------------*/
/*----------------------------------Seccion Compu------------------------*/

.texto-secciones{
    color: white;
    text-align: center;
    font-size: x-large;
}
.seccion{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    color: white;
}

/*---------------------------------------------------------------------*/

/*---------------------------------Footer--------------------------*/
#logo-deezer{
    width:10%;
    height:20%;
}

/*---------------------------------------------------------------------*/
}