
/*----------------------  Mobile First------------------*/

.header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
h1{
    font-family: 'Rancho', cursive;
    color:rgb(255, 196, 0);
    display: inline;
    margin-left: 8px;
    font-size: xx-large;
}
#logo{
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
.main-nav ul li{
    display: none;
    list-style-type: none;
    padding:10px;
    color: white;
}


 /*----------------------  La imagen de fondo ------------------*/

.container-background{  
    width: 100%;
}
.background{
    width: 100%;
}




/*----------------------------------Computadora------------------------*/

@media(min-width:768px){

.main-nav ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:10px;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
}

}