
/*----------------------  Mobile First------------------*/

.header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
h1{
    font-family: 'Rancho', cursive;
    color:rgb(255, 196, 0);
    display: inline;
    margin-left: 8px;
    font-size: xx-large;
}
#logo{
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}
.main-nav ul li{
    display: none;
    list-style-type: none;
    padding:10px;
    color: white;
}

.texto-inicio{
    display:inline-flex;
}
 /*----------------------  La imagen de fondo ------------------*/

.container-background{  
    width: 100%;
}
.background{
    position: relative;
    width: 107%;
    z-index: 1;
}
.texto-fondo1{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 5em;
    font-size: large;
    font-family: 'Rancho', cursive;
}
.texto-fondo2{
    position: absolute;
    z-index: 2;
    left: 10em;
    top: 7em;
    font-size: medium;
    font-family: 'Rancho', cursive;
}


/*----------------------------------Computadora------------------------*/

@media(min-width:768px){

.main-nav ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:10px;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
}
.background{
    width: 101%;
}
.texto-fondo1{
    position: absolute;
    z-index: 2;
    left: 60%;
    top: 5em;
    font-size: xx-large;
    font-family: 'Rancho', cursive;
}
.texto-fondo2{
    position: absolute;
    z-index: 2;
    left: 60%;
    top: 9em;
    font-size: x-large;
    font-family: 'Rancho', cursive;
}

}